.photoAbout{
    border-radius: 20px;
}


.containerDesc *{
    text-align:justify;
    padding: 10px 0;
}


@property --gap{
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
  }
@property --angle{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
  }
  
.profileAvatar img{
    --border: 5px;
    --gap: 12px;
    --color: #9C27B0;
    
    height: 350px;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    /* padding: calc(var(--border) + var(--gap)); */
    
    --angle: 90deg;
    background:
      radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
      conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
      radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
    background-size: var(--border) var(--border),auto;
    background-repeat: no-repeat;
    
    -webkit-mask:
      radial-gradient(farthest-side, 
       #000  calc(99%  - calc(var(--border) + var(--gap))),
       #0000 calc(100% - calc(var(--border) + var(--gap))) 
             calc(99%  - var(--border)), 
       #000  calc(100% - var(--border)));
            mask:
      radial-gradient(farthest-side, 
       #000  calc(99%  - calc(var(--border) + var(--gap))),
       #0000 calc(100% - calc(var(--border) + var(--gap))) 
             calc(99%  - var(--border)), 
       #000  calc(100% - var(--border)));
    transition: --angle .4s,--gap .4s;
  }
  .profileAvatar img:hover {
    --angle: 0deg;
    --gap: 5px;
  }
  .profileAvatar{
    font-family: "Montserrat", sans-serif;
  }
  
  
  /* body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-auto-flow: column;
    place-content: center;
    background: #ccc;
  } */


  .editProfile{
    padding: 5%;
  }